
# Buy at https://usgraphics.com/products/berkeley-mono for $75
#  totally worth it!
font-family = TX-02 Condensed

background = 282c34
foreground = ffffff

adjust-cell-height = 2%

mouse-hide-while-typing = true
mouse-scroll-multiplier = 6

window-save-state = always

window-padding-x = 6
window-padding-y = 6
window-padding-balance = true
